/**
 * ${ONE_LINE_SUMMARY}.
 *
 * <p>${DETAILED_DESCRIPTION}
 *
 * <p>Usage example:
 * {@snippet :
 * ${CLASS_NAME} instance = new ${CLASS_NAME}(/* params */);
 * var result = instance.${PRIMARY_METHOD}(/* args */);
 * }
 *
 * @since ${VERSION}
 * @see ${RELATED_CLASS}
 */

/**
 * ${METHOD_SUMMARY}.
 *
 * @param ${PARAM_NAME} ${PARAM_DESCRIPTION}, must not be null
 * @return ${RETURN_DESCRIPTION}, never null
 * @throws ${EXCEPTION_TYPE} ${EXCEPTION_CONDITION}
 */
